{% load admin_static i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    {% block head %}
    {% include "base_site.html" %}
    {% endblock %}
    <script>
    
    </script>   

    <body data-sa-theme="1">
        <main class="main">
            <div class="page-loader">
                <div class="page-loader__spinner">
                    <svg viewBox="25 25 50 50">
                        <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                    </svg>
                </div>
            </div>
            {% block topbar %}
            {% include "topbar.html" %}
            {% endblock %}         

            {% block sidebarmenu %}
                 {% include "menu.html" %}
            {% endblock %}

            {% block themes %}
                 {% include "themes.html" %}
            {% endblock %}

            <section class="content">
                <header class="content__title">
                    <h1>Profile Informations</h1>

                    <div class="actions">
                            <a href = "" id="" class="actions__item zmdi zmdi-trending-up"></a>
                            <a href="" class="actions__item zmdi zmdi-check-all"></a>

                            <div class="dropdown actions__item">
                                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="" class="dropdown-item">Refresh</a>
                                    <a href="" class="dropdown-item">Manage Widgets</a>
                                    <a href="" class="dropdown-item">Settings</a>
                                </div>
                            </div>
                        </div>
                </header>
                    <div class="card widget-contacts">
                        <div class="card-body">
                            {% if not user_info_available %}
                            <div class="jumbotron">
                                <p class="lead">Information is not available for this user</p>

                                <hr class="my-4">
                                <!-- <button class="btn btn-light" id="btn_user_info" data-toggle="modal" data-target="#modal-large">Add Details</button> -->
                            </div>
                            {% else %}
                                                            <hr class="my-4">
                               <!--  <button class="btn btn-light" id="edit_user_info" data-toggle="modal" data-target="#modal-large">Edit Details</button> -->
                            {% include "partials/user_fields.html" %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% block footer %}
                     {% include "footer.html" %}
                {% endblock %}

            </section>
            <script id="add_user_info" type="text/x-handlebars-template">
                <div class="modal modal-styled fade adduserinfo" tabindex="-1" role="dialog" id="addUserInfo">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title pull-left">Add User Information</h5>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <div class="panel-boby">
                                    <form id="upload_form" class="form-horizontal" method="post" role="form"></form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="modal_save_btn" class="btn btn-link">Save changes</button>
                                <button type="button" id="modal_close_btn" class="btn btn-link" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>
            <script src="{% static "js/handlebars-v1.3.0.js" %}"></script>
            <script src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
            <script src="{% static "js/popper.min.js" %}"></script>
            <script src="{% static "js/bootstrap.min.js" %}"></script>
            <script type="text/javascript">
            $(document).ready(function() {
                $('#btn_user_info').bind('click', function(event){
                    endpoint = "{% url 'add_usr_info' request.user.id %}"
                    var gtcntnt = $.get(endpoint)
                    gtcntnt.done(function(data) {
                        if(data.status){
                            $('body').append(Handlebars.compile($('#add_user_info').html())({}));
                            $('#addUserInfo form').html(data.tmpl);
                            $('#addUserInfo').modal().on('shown.bs.modal', function() {
                                $(this).find('input:first').focus();
                            })
                            $('#addUserInfo form').on('keypress', function (event) {
                                var keycode = (event.keyCode ? event.keyCode : event.which);
                                if (keycode == '13') {
                                    event.preventDefault();
                                    $('#modal_save_btn').trigger('click');

                                }
                                // body...
                            });
                           $('#modal_save_btn').bind('click', function(ev){
                                $('#modal_save_btn').prop('disabled', true);
                                $('#addUserInfo form').unbind('keypress');
                                var prms = $.post(endpoint, $('#upload_form').serialize());
                                prms.done(function(data){
                                    if (data.status && data.complete){
                                        $('#addUserInfo').modal('hide');
                                    } else {
                                        if (data.status){
                                            $('#addUserInfo form').html(data.tmpl);
                                            $('#modal_save_btn').prop('disabled', false);
                                            $('#addUserInfo form').on('keypress', function (event) {
                                            var keycode = (event.keyCode ? event.keyCode : event.which);
                                            if (keycode == '13') {
                                                event.preventDefault();
                                                $('#modal_save_btn').trigger('click');

                                            }
                                // body...
                                           });

                                        } else {
                                            if (data.extra) {
                                                $.howl ({
                                                    type: "info",
                                                    title: "Info",
                                                    content: "Error Happened while saving data",
                                                    iconCls: "fa fa-info"

                                                });
                                                $('#addUserInfo').modal('hide');
                                            }
                                        }
                                    }
                                })

                           }) 
                        // body...
                        } else {
                            if (data.extra) {
                                $.howl({
                                    type: "info",
                                    title: "Info",
                                    content: data.extra,
                                    iconCls: "fa fa-info"
                                });
                                $('#addUserInfo').modal('hide');
                            }
                        }
                });
                });


                $('#edit_user_info').bind('click', function(event){
                    console.log("ready");
                    endpoint = "{% url 'edit_usr_info' request.user.id %}"
                    var gtcntnt = $.get(endpoint)
                    gtcntnt.done(function(data) {
                        if(data.status){
                            $('body').append(Handlebars.compile($('#add_user_info').html())({}));
                            $('#addUserInfo form').html(data.tmpl);
                            $('#addUserInfo').modal().on('shown.bs.modal', function() {
                                $(this).find('input:first').focus();
                            })
                            $('#addUserInfo form').on('keypress', function (event) {
                                var keycode = (event.keyCode ? event.keyCode : event.which);
                                if (keycode == '13') {
                                    event.preventDefault();
                                    $('#modal_save_btn').trigger('click');

                                }
                                // body...
                            });
                           $('#modal_save_btn').bind('click', function(ev){
                                $('#modal_save_btn').prop('disabled', true);
                                $('#addUserInfo form').unbind('keypress');
                                var prms = $.post(endpoint, $('#upload_form').serialize());
                                prms.done(function(data){
                                    if (data.status && data.complete){
                                        $('#addUserInfo').modal('hide');
                                    } else {
                                        if (data.status){
                                            $('#addUserInfo form').html(data.tmpl);
                                            $('#modal_save_btn').prop('disabled', false);
                                            $('#addUserInfo form').on('keypress', function (event) {
                                            var keycode = (event.keyCode ? event.keyCode : event.which);
                                            if (keycode == '13') {
                                                event.preventDefault();
                                                $('#modal_save_btn').trigger('click');

                                            }
                                // body...
                                           });

                                        } else {
                                            if (data.extra) {
                                                $.howl ({
                                                    type: "info",
                                                    title: "Info",
                                                    content: "Error Happened while saving data",
                                                    iconCls: "fa fa-info"

                                                });
                                                $('#addUserInfo').modal('hide');
                                            }
                                        }
                                    }
                                })

                           }) 
                        // body...
                        } else {
                            if (data.extra) {
                                $.howl({
                                    type: "info",
                                    title: "Info",
                                    content: data.extra,
                                    iconCls: "fa fa-info"
                                });
                                $('#addUserInfo').modal('hide');
                            }
                        }
                });
                });

            });

            </script>
        </main>
        <!-- Javascript -->
        <!-- Vendors -->
        {% block bodyjs %}
             {% include "bodyjs.html" %}
        {% endblock %}
    </body>
</html>